@model KoiDeliveryOrderingSystem.Data.Models.ShipmentOrderDetail

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ShipmentOrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="ShipmentOrderDetailId" class="control-label"></label>
                <input asp-for="ShipmentOrderDetailId" class="form-control" />
                <span asp-validation-for="ShipmentOrderDetailId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ShipmentOrderId" class="control-label"></label>
                <select asp-for="ShipmentOrderId" class ="form-control" asp-items="ViewBag.ShipmentOrderId">
                    <option value="1">1</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AnimalTypeId" class="control-label"></label>
                <select asp-for="AnimalTypeId" class="form-control" asp-items="ViewBag.AnimalTypeId">
                    <option value="">-- Select Animal Type --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="AdditionalServices" class="control-label"></label>
                <input asp-for="AdditionalServices" class="form-control" />
                <span asp-validation-for="AdditionalServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label"></label>
                <input asp-for="Fee" type="number" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="ViewBag.ShipmentOrderId">
                    <option value="Pending">Pending</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Deliveried">Deliveried</option>
                    <option value="Cancelled">Cancelled</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" type="number" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" type="number" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfEntry" class="control-label"></label>
                <input asp-for="DateOfEntry" class="form-control" />
                <span asp-validation-for="DateOfEntry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control" asp-items="ViewBag.ShipmentOrderId">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HealthStatus" class="control-label"></label>
                <input asp-for="HealthStatus" class="form-control" />
                <span asp-validation-for="HealthStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achievement" class="control-label"></label>
                <input asp-for="Achievement" class="form-control" />
                <span asp-validation-for="Achievement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
