@model KoiDeliveryOrderingSystem.MVCWebApp.Models.ShipmentTracking

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ShipmentTracking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrackingId" />
            <div class="form-group">
                <label asp-for="ShipperId" class="control-label"></label>
                <select asp-for="ShipperId" class="form-control" asp-items="ViewBag.ShipperId"></select>
                <span asp-validation-for="ShipperId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderId" class="control-label"></label>
                <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                <span asp-validation-for="OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateTime" class="control-label"></label>
                <input asp-for="UpdateTime" class="form-control" />
                <span asp-validation-for="UpdateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentLocation" class="control-label"></label>
                <input asp-for="CurrentLocation" class="form-control" />
                <span asp-validation-for="CurrentLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipmentStatus" class="control-label"></label>
                <input asp-for="ShipmentStatus" class="form-control" />
                <span asp-validation-for="ShipmentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TemperatureDuringTransit" class="control-label"></label>
                <input asp-for="TemperatureDuringTransit" class="form-control" />
                <span asp-validation-for="TemperatureDuringTransit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HumidityDuringTransit" class="control-label"></label>
                <input asp-for="HumidityDuringTransit" class="form-control" />
                <span asp-validation-for="HumidityDuringTransit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandlerName" class="control-label"></label>
                <input asp-for="HandlerName" class="form-control" />
                <span asp-validation-for="HandlerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedArrival" class="control-label"></label>
                <input asp-for="EstimatedArrival" class="form-control" />
                <span asp-validation-for="EstimatedArrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
